# переменные для подключения к БД
POSTGRES_HOST=host
POSTGRES_PORT=5432
POSTGRES_DB=name
POSTGRES_USER=user
POSTGRES_PASSWORD=password

# переменные для JWT
JWT_SECRET=secret
JWT_EXPIRE_MINUTES=60
JWT_ALGORITHM=ALGORITHM
