{% extends "base.html" %}
{% block title %}Заметки{% endblock %}

{% block content %}
<h2>Заметки</h2>

<form method="post">
    <p><input name="title" placeholder="Заголовок" required></p>

    <p>
        <textarea
            name="content"
            rows="5"
            cols="60"
            placeholder="Текст"
            required
        ></textarea>
    </p>

    <p>
        <select name="category_id">
            {% for category in categories %}
            <option value="{{ category.id }}">
                {{ category.name }}
            </option>
            {% endfor %}
        </select>
    </p>

    <button type="submit">Создать</button>
</form>

<hr>

{% for note in notes %}
<div class="card">
    <h3>{{ note.title }}</h3>
    <p>{{ note.content }}</p>
    <small>{{ note.category.name }}</small>

    <div style="margin-top:10px;">
        <a href="/notes/{{ note.id }}/edit">✏️ Изменить</a>

        <form
            action="/notes/{{ note.id }}/delete"
            method="post"
            style="display:inline;"
        >
            <button type="submit">🗑 Удалить</button>
        </form>
    </div>
</div>
{% endfor %}
{% endblock %}